Repository nikitababko/personal-portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "eslint --max-warnings=0",
    "eslint",
    "bash -c tsc"
  ],
  "**/*.{js,jsx,ts,tsx,md,json}": [
    "npx cspell '**/*.{js,jsx,ts,tsx,md,json}'"
  ],
  "*.json": ["prettier --write"]
}

fix: title and details font size
  src/app/projects/[id]/styles.module.scss
Due: none

refactor: rename `items` className to `container` in about section
  src/app/components/About/Cards/Cards.component.tsx
  src/app/components/About/Cards/Cards.styles.module.scss
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: tabs common component
  src/app/common/Tabs/Content/Content.component.tsx
  src/app/common/Tabs/Content/Content.styles.module.scss
  src/app/common/Tabs/Content/Content.types.ts
  src/app/common/Tabs/Label/ActiveElement/ActiveElement.styles.module.scss
  src/app/common/Tabs/Label/Element/Element.styles.module.scss
  src/app/common/Tabs/Label/Label.styles.module.scss
  src/app/common/Tabs/Tabs.component.tsx
  src/app/common/Tabs/Tabs.styles.common.module.scss
  src/app/common/Tabs/Tabs.styles.module.scss
  src/app/common/Tabs/Tabs.types.ts
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

feat: add qualification section
  package.json
  pnpm-lock.yaml
  src/app/api/qualification/data.ts
  src/app/api/qualification/route.ts
  src/app/api/qualification/types.ts
  src/app/components/Qualification/Content/Content.component.tsx
  src/app/components/Qualification/Content/Content.styles.module.scss
  src/app/components/Qualification/Content/index.ts
  src/app/components/Qualification/Qualification.component.tsx
  src/app/components/Qualification/Qualification.styles.module.scss
  src/app/components/Qualification/Qualification.types.ts
  src/app/components/Qualification/index.ts
  src/app/constants.ts
  src/app/page.tsx
  src/app/styles/variables.scss
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: add `contentContentStylesClassName` prop to tabs component
  src/app/common/Tabs/Content/Content.component.tsx
  src/app/common/Tabs/Content/Content.types.ts
  src/app/common/Tabs/Tabs.component.tsx
  src/app/common/Tabs/Tabs.types.ts
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

feat: add skills section
  src/app/api/skills/data.ts
  src/app/api/skills/route.ts
  src/app/api/skills/types.ts
  src/app/common/Icon/Icon.component.tsx
  src/app/common/Icon/Icon.controller.tsx
  src/app/common/Icon/Icon.types.ts
  src/app/components/Skills/Content/DesktopView/DesktopView.component.tsx
  src/app/components/Skills/Content/DesktopView/DesktopView.controller.ts
  src/app/components/Skills/Content/DesktopView/DesktopView.styles.module.scss
  src/app/components/Skills/Content/DesktopView/DesktopView.types.ts
  src/app/components/Skills/Content/DesktopView/index.ts
  src/app/components/Skills/Content/Item/Item.component.tsx
  src/app/components/Skills/Content/Item/Item.styles.module.scss
  src/app/components/Skills/Content/Item/Item.types.ts
  src/app/components/Skills/Content/Item/index.ts
  src/app/components/Skills/Content/MobileView/MobileView.component.tsx
  src/app/components/Skills/Content/MobileView/MobileView.styles.module.scss
  src/app/components/Skills/Content/MobileView/MobileView.types.ts
  src/app/components/Skills/Content/MobileView/index.ts
  src/app/components/Skills/Skills.component.tsx
  src/app/components/Skills/Skills.types.ts
  src/app/components/Skills/index.ts
  src/app/components/index.ts
  src/app/constants.ts
  src/app/page.tsx
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

fix: add 'text-align: justify' style for about section description
  src/app/components/About/Description/Description.styles.module.scss
Due: none

refactor: add absolute path instead relative for import global styles in project common component
  src/app/common/Project/Project.styles.module.scss
Due: none

chore: add biomejs
  .cspell.json
  .husky/pre-commit
  biome.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

refactor: biomejs lint
  src/app/api/about/data.ts
  src/app/common/ButtonBack/ButtonBack.component.tsx
  src/app/common/Icon/Icon.component.tsx
  src/app/common/Tabs/Content/Content.controller.ts
  src/app/common/Tabs/Label/Element/Element.component.tsx
  src/app/common/Tabs/Label/Element/Element.controller.ts
  src/app/components/Home/ScrollDownButton/ScrollDownButton.component.tsx
  src/app/components/NavBar/BurgerMenu/BurgerMenu.component.tsx
  src/app/hooks/useMediaQuery.ts
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

fix: container transition for tabs common component
  src/app/common/Tabs/Label/Element/Element.styles.module.scss
Due: none

feat: add desktop view for qualification section
  src/app/components/Qualification/Content/Content.component.tsx
  src/app/components/Qualification/Content/DesktopView/DesktopView.component.tsx
  src/app/components/Qualification/Content/DesktopView/DesktopView.styles.module.scss
  src/app/components/Qualification/Content/DesktopView/MobileView.types.ts
  src/app/components/Qualification/Content/DesktopView/index.ts
  src/app/components/Qualification/Content/Item/Item.component.tsx
  src/app/components/Qualification/Content/Item/Item.styles.module.scss
  src/app/components/Qualification/Content/Item/index.ts
  src/app/components/Qualification/Content/MobileView/MobileView.component.tsx
  src/app/components/Qualification/Content/MobileView/MobileView.styles.module.scss
  src/app/components/Qualification/Content/MobileView/MobileView.types.ts
  src/app/components/Qualification/Content/MobileView/index.ts
  src/app/components/Qualification/Content/index.ts
  src/app/components/Qualification/Qualification.component.tsx
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: add `'react/display-name': 'off'` to eslint
  .eslintrc.json
Due: prettier --write, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

refactor: skills section
  src/app/components/Skills/Content/DesktopView/DesktopView.component.tsx
  src/app/components/Skills/Content/DesktopView/DesktopView.controller.ts
  src/app/components/Skills/Content/DesktopView/DesktopView.styles.module.scss
  src/app/components/Skills/Content/DesktopView/DesktopView.types.ts
  src/app/components/Skills/Content/Item/Item.component.tsx
  src/app/components/Skills/Content/MobileView/MobileView.component.tsx
  src/app/components/Skills/Content/MobileView/MobileView.types.ts
  src/app/components/Skills/Content/index.ts
  src/app/components/Skills/Skills.component.tsx
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

fix: remove 'min-height' from global '.sectionContainer' style
  src/app/styles/global.scss
Due: none

refactor: add 'row-gap' in '.sectionInner' instead 'margin-bottom' in 'SectionTitle' container
  src/app/common/SectionTitle/SectionTitle.component.tsx
  src/app/common/SectionTitle/SectionTitle.styles.module.scss
  src/app/styles/global.scss
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

refactor: remove unnecessary styles
  src/app/common/SectionTitle/SectionTitle.styles.module.scss
  src/app/components/About/About.styles.module.scss
  src/app/components/Home/Greetings/Greetings.styles.module.scss
  src/app/components/Home/Home.styles.module.scss
  src/app/components/Home/ScrollDownButton/ScrollDownButton.styles.module.scss
  src/app/components/NavBar/BurgerMenu/BurgerMenu.styles.module.scss
  src/app/components/NavBar/NavBar.styles.module.scss
Due: none

fix: change 'justify-content' in cards container
  src/app/components/About/Cards/Cards.styles.module.scss
Due: none

refactor: rename common component 'SectionTitle' to 'SectionHeader' and add header to each section
  src/app/common/SectionHeader/SectionHeader.component.tsx
  src/app/common/SectionHeader/SectionHeader.styles.module.scss
  src/app/common/SectionHeader/SectionHeader.types.ts
  src/app/common/SectionHeader/index.ts
  src/app/common/SectionTitle/SectionTitle.component.tsx
  src/app/common/SectionTitle/SectionTitle.styles.module.scss
  src/app/common/SectionTitle/index.ts
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

feat: add 'not found' page
  .eslintrc.json
  src/app/common/Icon/Icon.controller.tsx
  src/app/common/Icon/Icon.types.ts
  src/app/not-found.tsx
  src/app/styles/notFoundPage.module.scss
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

refactor: rename 'common/Tabs/Label/Filter.controller' to 'common/Tabs/Label/Label.controller'
  src/app/common/Tabs/Label/Label.controller.ts
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'
