Repository nikitababko/personal-portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

style: add css reset lib `@nikitababko/reset-css`
  .cspell.json
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/styles/global.css
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: add sentry
  .cspell.json
  .env.example
  .gitignore
  next.config.js
  package.json
  pnpm-lock.yaml
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

feat: add navbar (desktop), font and global style variables
  package.json
  pnpm-lock.yaml
  src/app/components/NavBar/NavBar.component.tsx
  src/app/components/NavBar/NavBar.data.ts
  src/app/components/NavBar/NavBar.styles.module.scss
  src/app/components/NavBar/index.ts
  src/app/components/index.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/app/styles/fonts.ts
  src/app/styles/global.scss
  src/app/styles/variables.scss
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: add new rules to eslint
  .eslintrc.json
Due: prettier --write, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: reinstall `node_modules`
  pnpm-lock.yaml
Due: none

chore: add `postcss`, `autoprefixer` and remove public assets
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  postcss.config.js
  public/next.svg
  public/vercel.svg
  tsconfig.json
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: add `output` key to `nextjs.config.js`
  next.config.js
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

feat: add navbar (mobile)
  src/app/components/NavBar/BurgerMenu/BurgerMenu.component.tsx
  src/app/components/NavBar/BurgerMenu/BurgerMenu.styles.module.scss
  src/app/components/NavBar/BurgerMenu/BurgerMenu.types.ts
  src/app/components/NavBar/BurgerMenu/index.ts
  src/app/components/NavBar/NavBar.component.tsx
  src/app/components/NavBar/NavBar.controller.ts
  src/app/components/NavBar/NavBar.styles.module.scss
  src/app/components/NavBar/NavBar.types.ts
  src/app/styles/variables.scss
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: add asset `avatar.png`
  public/assets/intro/avatar.png
Due: none

chore: add `csstype` package
  .cspell.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

refactor: eslint rule `@typescript-eslint/no-magic-numbers`
  .eslintrc.json
Due: prettier --write, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: add icon component
  src/app/components/Icon/Icon.component.tsx
  src/app/components/Icon/Icon.controller.tsx
  src/app/components/Icon/Icon.types.ts
  src/app/components/Icon/index.ts
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

refactor: eslint rule `react/forbid-component-props`
  .eslintrc.json
Due: prettier --write, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

refactor: remove `output` key from next config
  next.config.js
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

style: add global body styles
  src/app/styles/global.scss
Due: none

style: add new global color variables
  src/app/styles/variables.scss
Due: none

style: navbar and burger menu
  src/app/components/NavBar/BurgerMenu/BurgerMenu.styles.module.scss
  src/app/components/NavBar/NavBar.styles.module.scss
Due: none

feat: add home section (mobile and desktop)
  src/app/components/Home/Greetings/Greetings.component.tsx
  src/app/components/Home/Greetings/Greetings.styles.module.scss
  src/app/components/Home/Greetings/index.ts
  src/app/components/Home/Home.component.tsx
  src/app/components/Home/Home.styles.module.scss
  src/app/components/Home/ScrollDownButton/ScrollDownButton.component.tsx
  src/app/components/Home/ScrollDownButton/ScrollDownButton.styles.module.scss
  src/app/components/Home/ScrollDownButton/index.ts
  src/app/components/Home/index.ts
  src/app/components/index.ts
  src/app/page.tsx
  src/app/styles/global.scss
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: add section title component
  src/app/components/SectionTitle/SectionTitle.component.tsx
  src/app/components/SectionTitle/SectionTitle.styles.module.scss
  src/app/components/SectionTitle/SectionTitle.types.ts
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

style: fix global styles
  src/app/styles/global.scss
Due: none

style: refactor global style variables
  src/app/styles/variables.scss
Due: none

feat: add `about` section
  public/assets/about/light-bulb.png
  public/assets/about/performance.png
  public/assets/about/responsive-design.png
  public/assets/about/success.png
  src/app/components/About/About.component.tsx
  src/app/components/About/About.styles.module.scss
  src/app/components/About/Elements/Elements.component.tsx
  src/app/components/About/Elements/Elements.data.ts
  src/app/components/About/Elements/Elements.styles.module.scss
  src/app/components/About/Elements/index.ts
  src/app/components/About/Text/Text.component.tsx
  src/app/components/About/Text/Text.data.ts
  src/app/components/About/Text/Text.styles.module.scss
  src/app/components/About/Text/index.ts
  src/app/components/About/index.ts
  src/app/components/index.ts
  src/app/page.tsx
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

feat: add filter bar to projects section
  src/app/components/Projects/Content/Content.component.tsx
  src/app/components/Projects/Content/Filter/ActiveElement/ActiveElement.component.tsx
  src/app/components/Projects/Content/Filter/ActiveElement/ActiveElement.styles.module.scss
  src/app/components/Projects/Content/Filter/ActiveElement/ActiveElement.types.ts
  src/app/components/Projects/Content/Filter/ActiveElement/index.ts
  src/app/components/Projects/Content/Filter/Element/Element.component.tsx
  src/app/components/Projects/Content/Filter/Element/Element.controller.ts
  src/app/components/Projects/Content/Filter/Element/Element.styles.module.scss
  src/app/components/Projects/Content/Filter/Element/Element.types.ts
  src/app/components/Projects/Content/Filter/Element/index.ts
  src/app/components/Projects/Content/Filter/Filter.component.tsx
  src/app/components/Projects/Content/Filter/Filter.controller.ts
  src/app/components/Projects/Content/Filter/Filter.data.ts
  src/app/components/Projects/Content/Filter/Filter.styles.module.scss
  src/app/components/Projects/Content/Filter/Filter.types.ts
  src/app/components/Projects/Content/Filter/index.ts
  src/app/components/Projects/Content/index.ts
  src/app/components/Projects/Projects.component.tsx
  src/app/components/Projects/index.ts
  src/app/components/index.ts
  src/app/page.tsx
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: add `0` in ignore `@typescript-eslint/no-magic-numbers`
  .eslintrc.json
Due: prettier --write, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: remove `.idea`
  .idea/.gitignore
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/personal-portfolio.iml
  .idea/vcs.xml
Due: none

fix: filter bar in projects section
  .eslintrc.json
  src/app/components/Projects/Content/Content.component.tsx
  src/app/components/Projects/Content/Content.styles.module.scss
  src/app/components/Projects/Content/Filter/ActiveElement/ActiveElement.component.tsx
  src/app/components/Projects/Content/Filter/ActiveElement/ActiveElement.styles.module.scss
  src/app/components/Projects/Content/Filter/ActiveElement/ActiveElement.types.ts
  src/app/components/Projects/Content/Filter/Element/Element.component.tsx
  src/app/components/Projects/Content/Filter/Element/Element.controller.ts
  src/app/components/Projects/Content/Filter/Element/Element.types.ts
  src/app/components/Projects/Content/Filter/Filter.component.tsx
  src/app/components/Projects/Content/Filter/Filter.controller.ts
  src/app/components/Projects/Content/Filter/Filter.data.ts
  src/app/components/Projects/Content/Filter/Filter.styles.module.scss
  src/app/components/Projects/Content/Filter/Filter.types.ts
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

refactor: add global constant `ASSETS_PATH`
  src/app/components/About/Elements/Elements.data.ts
  src/app/constants.ts
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: add new ignore words to cspell config
  .cspell.json
Due: prettier --write, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

refactor: home section
  public/assets/home/avatar.png
  src/app/components/Home/Greetings/Greetings.component.tsx
  src/app/components/Home/Greetings/Greetings.styles.module.scss
  src/app/components/Home/Home.component.tsx
  src/app/components/Home/Home.styles.module.scss
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: 1) Add helpers `getBaseUrl` and `getData`; 2) Add constant `ENDPOINTS`
  src/app/constants.ts
  src/app/helpers.ts
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: add api for about section
  src/app/api/about/data.ts
  src/app/api/about/route.ts
  src/app/api/about/types.ts
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

refactor: about section
  src/app/components/About/About.component.tsx
  src/app/components/About/About.types.ts
  src/app/components/About/Cards/Cards.component.tsx
  src/app/components/About/Cards/Cards.styles.module.scss
  src/app/components/About/Cards/Cards.types.ts
  src/app/components/About/Cards/index.ts
  src/app/components/About/Description/Description.component.tsx
  src/app/components/About/Description/Description.styles.module.scss
  src/app/components/About/Description/Description.types.ts
  src/app/components/About/Description/index.ts
  src/app/components/About/Elements/Elements.component.tsx
  src/app/components/About/Elements/Elements.data.ts
  src/app/components/About/Elements/index.ts
  src/app/components/About/Text/Text.component.tsx
  src/app/components/About/Text/Text.data.ts
  src/app/components/About/Text/index.ts
  src/app/page.tsx
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: add `'unicorn/no-null': 'off'` to eslint
  .eslintrc.json
Due: prettier --write, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

feat: add projects page
  src/app/common/ProjectsContent/Filter/ActiveElement/ActiveElement.component.tsx
  src/app/common/ProjectsContent/Filter/ActiveElement/ActiveElement.styles.module.scss
  src/app/common/ProjectsContent/Filter/ActiveElement/ActiveElement.types.ts
  src/app/common/ProjectsContent/Filter/ActiveElement/index.ts
  src/app/common/ProjectsContent/Filter/Element/Element.component.tsx
  src/app/common/ProjectsContent/Filter/Element/Element.controller.ts
  src/app/common/ProjectsContent/Filter/Element/Element.styles.module.scss
  src/app/common/ProjectsContent/Filter/Element/Element.types.ts
  src/app/common/ProjectsContent/Filter/Element/index.ts
  src/app/common/ProjectsContent/Filter/Filter.component.tsx
  src/app/common/ProjectsContent/Filter/Filter.controller.ts
  src/app/common/ProjectsContent/Filter/Filter.styles.module.scss
  src/app/common/ProjectsContent/Filter/Filter.types.ts
  src/app/common/ProjectsContent/Filter/index.ts
  src/app/common/ProjectsContent/Gallery/Gallery.component.tsx
  src/app/common/ProjectsContent/Gallery/Gallery.controller.ts
  src/app/common/ProjectsContent/Gallery/Gallery.styles.module.scss
  src/app/common/ProjectsContent/Gallery/Gallery.types.ts
  src/app/common/ProjectsContent/Gallery/Project/Project.component.tsx
  src/app/common/ProjectsContent/Gallery/Project/Project.styles.module.scss
  src/app/common/ProjectsContent/Gallery/Project/Project.types.ts
  src/app/common/ProjectsContent/Gallery/Project/index.ts
  src/app/common/ProjectsContent/Gallery/index.ts
  src/app/common/ProjectsContent/Projects.styles.module.scss
  src/app/common/ProjectsContent/ProjectsContent.component.tsx
  src/app/common/ProjectsContent/ProjectsContent.controller.ts
  src/app/common/ProjectsContent/ProjectsContent.types.ts
  src/app/components/Icon/Icon.controller.tsx
  src/app/components/Icon/Icon.types.ts
  src/app/components/Projects/Gallery/Gallery.component.tsx
  src/app/components/Projects/Gallery/Gallery.controller.ts
  src/app/components/Projects/Projects.component.tsx
  src/app/hooks/index.ts
  src/app/hooks/useMediaQuery.ts
  src/app/projects/ButtonBack/ButtonBack.component.tsx
  src/app/projects/ButtonBack/ButtonBack.module.scss
  src/app/projects/ButtonBack/index.ts
  src/app/projects/page.tsx
  src/app/projects/styles.module.scss
  src/app/styles/global.scss
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

refactor: add scss `transition` function
  src/app/common/ButtonBack/ButtonBack.module.scss
  src/app/common/ProjectsContent/Filter/ActiveElement/ActiveElement.styles.module.scss
  src/app/common/ProjectsContent/Filter/Element/Element.styles.module.scss
  src/app/common/ProjectsContent/Gallery/Gallery.styles.module.scss
  src/app/common/ProjectsContent/Gallery/Project/Project.styles.module.scss
  src/app/components/Home/Greetings/Greetings.styles.module.scss
  src/app/components/Home/ScrollDownButton/ScrollDownButton.styles.module.scss
  src/app/components/NavBar/NavBar.styles.module.scss
  src/app/projects/[id]/styles.module.scss
  src/app/styles/functions.scss
Due: none

refactor: types of section 'about'
  src/app/api/about/data.ts
  src/app/api/about/types.ts
  src/app/components/About/About.types.ts
  src/app/components/About/Description/Description.types.ts
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: add new ignore words to cspell
  .cspell.json
Due: prettier --write, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

chore: add icons `education` and `briefcase`
  src/app/common/Icon/Icon.controller.tsx
  src/app/common/Icon/Icon.types.ts
Due: prettier --write, eslint --fix, eslint --max-warnings=0, eslint, bash -c tsc, npx cspell '**/*.{js,jsx,ts,tsx,md,json}'

Path conditions:
  prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: *.json)
  eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  eslint --max-warnings=0: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  bash -c tsc: any of: **/*.{js,jsx,ts,tsx}
  npx cspell '**/*.{js,jsx,ts,tsx,md,json}': any of: **/*.{js,jsx,ts,tsx,md,json}
